<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web_b.web_b.mapper.UserMapper">


    <update id="updateUser">
        update user
        <set>
            <if test="passWord != null and passWord != ''">
                password = #{passWord},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="score != null and score != 0 ">
                score = #{score},
            </if>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>